<div class="container">
    <h1><%= title %></h1>
</div>
<br>
<br>
<!-- Iris Guillermo |300700757 | September 27, 2022 -->
<html>
    <body style="font-family:Georgia, 'Times New Roman', Times, serif;">
<center><img src="/content/images/aboutme.png">
<br>
<br>
<img src="/content/images/pic.jpg" style="width:200;">
<br>
<br>
<p>
   My name is Iris Guillermo and I am currently in my third semester for program
   <br>Software Engineering Technology. Before entering this program, I graduated
   <br>from George Brown College in 2015 with Dental Assiting Certificate. I worked
   <br>for at least 6 years as dental assistant/receptionist before I finally decided
   <br>to make a career change. 
   <br>
   <br>Career change can be scary but I wanted to do and experience
   <br>different things outside of my comfort zone. I wanted to 
   <br>figure other things that I will enjoy and this program seems
   <br>to be a good fit. I am looking forward for what and where 
   <br>this career path will take me.

   <br>
   <br>
   <!-- this will show PDF resume -->
   <a href="./content/pdf/CV.pdf" onclick="showImage();">Please click here to see PDF version of my resume</a>
   

</p>

    </body></center>
</html>