<div class="container">
    <h1><%= title %></h1>
</div>
<!-- Iris Guillermo |300700757 | September 27, 2022 -->
<br>
<br>
<br>
<center>
    <body style="font-family:Georgia, 'Times New Roman', Times, serif;">
<p><img src="./content/images/hello.png" style="width:250";>
    <br>
    <br><i class="fa-solid fa-envelope">></i>&nbsp;&nbsp;&nbsp; iguiller@my.centennialcollege.ca
    <br><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;&nbsp; 905-123-6789
    <br><i class="fa-solid fa-map"></i>&nbsp;&nbsp;&nbsp; Toronto, ON. 
</p>
    <br>
    <!-- will let user reach me, code written by me, Iris Guillermo for COMP213 in Fall 2021 -->
    <form action="">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value=""><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value=""><br>
    <label for="Pnumber">Phone Number:</label><br>
    <input type="text" id="pnumber" name="pnumber" value=""><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email" value=""><br><br>

    
    <textarea cols="20 name="txtAddionalComments" rows="5" tabindex="20" Placeholder="Please let me know what is on your mind"></textarea>
    <br>
    <br>
    <td class="fieldLabel">
        <input type="Submit" tabindex="30" name="btnSubmit" value="Submit"></label>
        </td>
    </form></center>
</body>