<div class="container">
    <h1><%= title %></h1>
</div>
<!-- Iris Guillermo |300700757 | September 27, 2022 -->
<br>
<br>
<br>
<br>
<center><img src="/content/images/intro.png"></center>

<br>
<br>
<br>
<br>
<br>
<center><h1 style="font-family:Georgia, 'Times New Roman', Times, serif;">Mission Statement:</h1>
<p>My mission is to create custom websites with excitement, innovation and imagination.</p></center>