<div class="container">
    <h1><%= title %></h1>
</div>
<!-- Iris Guillermo |300700757 | September 27, 2022 -->
<br>
<center><img src="/content/images/work.png">
<br>
<br>
    <!-- this will show text under images-->
<body>
    
    <img src="./content/images/capture1.png" style="width:400">
    <div><i>This website lets me understand what the project is asking in able to showcase a 
        website of a product I think that will appeal to customer's liking. I did research about the product,
         used HTML and CSS styling to display it's feautures. 
    </i></div>
    
    <img src="./content/images/PyungWon.jpg" style="width:400">&nbsp;&nbsp;&nbsp;&nbsp;
    <div><i>This website thought me how to use geocoding in order to show a certain location. 
    </i></div>
    
    <img src="./content/images/capture3.jpg" style="width:400">
    <div><i>This website thought me how to implement a website to display weather forecasting using Ajax with Javascript.
    </i></div>

</body></center>
