<div class="container">
    <h1><%= title %></h1>
</div>
<br>
<br>
<!-- Iris Guillermo |300700757 | September 27, 2022 -->
<center><img src="./content/images/services.png">
    <body style="font-family:Georgia, 'Times New Roman', Times, serif;">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- this gives images rounded edges-->
<html>
<head>
<style>
img {
  border-radius: 8px;
}
</style>
</head>
<!-- copyright adobe stock for images -->
    <img src="./content/images/pic1.jpg" style="width:300" >&nbsp;&nbsp;Web Design/Development &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="./content/images/pic2.jpg" style="width:300">&nbsp;&nbsp;Mobile pplication Development
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="./content/images/pic3.jpg" style="width:270">&nbsp;&nbsp;Logo Design
    

</body></center>